//Selectors
* {box-sizing: border-box;}

// Variables
$font-title: 'Quicksand', sans-serif;
$body-font: 'Open Sans', sans-serif;
$back_div: #FFF;
$radius_border: 3px;
$sidebar_w_size: 310 / 960 * 100%;
$h3_color: #3F3F3F;
$main-width: 620 / 960 * 100%;
//mixins

@mixin border-radius($radius: 3px) {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		-ms-border-radius: $radius;
				border-radius: $radius;
}

@mixin clip-path($v1: 0, $v2: 10%, $v3: 100%, $v4: 0, $v5: 100%, $v6: 90%, $v7: 0%, $v8: 100%){
	-webkit-clip-path: polygon($v1 $v2, $v3 $v4, $v5 $v6, $v7 $v8);
					clip-path: polygon($v1 $v2, $v3 $v4, $v5 $v6, $v7 $v8);
}

@mixin padding-blocks (){
	padding: 50px 35px 50px 35px;
}

//Extends
%div_basic {
	@include border-radius();
	@include clip-path();
	background-color: $back_div;
	margin-top: -20px;}

//start styling

ul {
	list-style: none;
	font-weight: 100;
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	font-family: $font-title;
}
		h3{
			font-weight: 700;
			color: $h3_color;
		}

.titles {
	float: right;
	width: 620px;
	color: #FFF;
	margin-top: -37px;
		h1 {
			font-size: 70px;
			margin: 0;
			padding: 0;
			font-weight: normal;
		}
		h2 {
			font-size: 28px;
			font-weight: 100;
			.regular {
					font-weight: 400;
				}
		}
}

body {
	background-color: #d8d8d8;
	margin: 0%;
	padding: 0;
	font-family: $body-font;
	color: #3f3f3f;
	font-size: 16px;
}
.sec_back {
		position: absolute;
		background-image: url(img/back_sec.jpg);
		width: 100%;
		height: 90%;
		z-index: -1;
		margin-top: -7.7%;
		@include clip-path(0%, 60%, 100%, 40%, 100%, 0%, 0%, 0%);
}
//Remove mobile parts from the layout
.titles-sm, .content-sm {
	display: none;
}
.container {
		margin: 10vh auto;
		padding: auto;
		width: 960px;
}
.sidebar {
	float: left;
	width: $sidebar_w_size;
		.main_contact {
		@extend %div_basic;
		height: 650px;
		@include clip-path(0, 0, 100%, 0, 100%, 94%, 0%, 100%);
			.picture{
					background-image: url(img/profile_pic.jpg);
					background-size: 120%;
					overflow: hidden;
					height: 380px;
					@include clip-path(0, 0, 100%, 0, 100%, 90%, 0%, 100%);
			}
			.info {
					padding-left: 35px;
						h3, p{
							color: $h3_color;
							font-weight: 400;
						}
			}
		}
			.skill {
				@extend %div_basic;
				@include padding-blocks();

			}
			.softwares {
				@extend %div_basic;
				@include padding-blocks();
			}
}
.content {
	@extend %div_basic;
	@include padding-blocks ();
	@include clip-path(0, 0, 100%, 0, 100%, 78%, 0%, 100%);
	width: $main-width;
	height: 100%;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 70px;
	float: right;
}

@media screen and (max-width: 560px) {
	.titles, .sec_back, .content{
		display: none;
	}
	body {
		padding-top: 3%;
		background-color: #da5655;
	}
	.content-sm {
	display: block;
	float: none;
	margin: auto;
	height: 100%;
	margin-top: -7%;
	background-color: $back_div;
	@include border-radius();
	@include clip-path();
	@include padding-blocks();
	}

	.titles-sm {
		display: block;
		width: 80%;
		color: #FFF;
		margin: auto;
		margin-bottom: -8%;
			h1 {
				font-size: 70px;
				margin: 0;
				padding: 0;
				font-weight: normal;
			}
			h2 {
				font-size: 28px;
				font-weight: 100;
				.regular {
						font-weight: 400;
					}
			}
	}
	.container{
		padding: auto;
		margin: auto;
		width: 100%;
	}
	.sidebar {
		float: none;
		margin: 20% auto;
		width: 80%;
		font-size: 14px;
	}
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,700';
